{{ template "header.html"}}

<div>
    <div class="container">
        <!-- Loop over the list of videos-->
        {{ range .videos}}

        <div>
            <div>
                <div>
                    <iframe width="560" height="315" 
                    src="{{.URL}}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                        <p>
                            <h4>{{.Title}}</h4>
                            <p>{{.Description}}</p>
                        </p>
                </div>
            </div>
        </div>
        
        {{end}}
    </div>
</div>

{{ template "footer.html"}}